/* reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
}

/* utils classes */
.text-base {
  font-size: 18px;
  line-height: 28px;
}
.text-sm {
  font-size: 14px;
  line-height: 20px;
}

.text-lg {
  font-size: 36px;
  line-height: 44px;
}

/* font color */
.text-gray {
  color: gray;
}
.text-purple {
  color: #7f56d9;
}

/* align */
.text-center {
  text-align: center;
}

nav ul {
  display: none;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid lightgray;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

.about-container {
  padding-top: 64px;
  text-align: center;
}

/* services */
.services-sections {
  background: #f9fafb;
}

.services-sections h3 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.services-list {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  margin-top: 48px;
  margin-bottom: 48px;
  gap: 32px;
}

.services-list li h5 {
  font-size: 48px;
  line-height: 60px;
}

.services-img {
  width: -webkit-fill-available;
}

/* media query */
@media (min-width: 768px) {
  body {
    /* display: none; */
  }
  .ham {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  nav ul {
    display: flex;
    gap: 40px;
  }
  nav ul a {
    color: gray;
  }

  .services-sections {
    display: flex;
    flex-direction: row-reverse;
    gap: 96px;
  }

  .services-list {
    display: grid;
    grid-template-columns: auto auto;
  }
}
